body {
    font-family: Verdana;
    font-weight: normal;
    background-color: black;
    color: white;
    text-align: center; 
}

h1 {
    font-size: 50;
}

.link {
    color: aquamarine;
    font-size: 16;
}

h2 {
    font-weight: 300;
    font-size: 42;
}

p {
    font-size: 21;
    color: gray;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.copy {
    text-align: right;
}